extends layout

block content
    h1.title Timeseries SeeDB
    h3.title A recommendation system for time series visualizations

    |<br></br>
    div.container
        div.row.panel

            div.col-md-4
                div.well
                
                    div.row
                        h3 Select a hashtag
                        |<br></br>

                        div
                            table.table
                                tr
                                tr
                                    td
                                    |<input type="text" name="user_hashtag" id="user_hashtag" value="Amsterdam,Washington" data-role="tagsinput" 
                                
                                tr.templateAttributeFilter
                                    td
                                        select.attributes.attribute(id="attribute1", style="width: 80px")
                                            option Attribute1
                                            option Attribute2
                                    td
                                        select.operator(id="operator1", style="width: 80px")
                                            option(value="<=") <=
                                            option(value="<") <
                                            option(value="=") =
                                            option(value="!=") !=
                                            option(value=">=") >=
                                            option(value=">") >
                                    td
                                        input.value(type="text", id="value1", maxlength="20", placeholder="value", size=4)
                                        
                                    td 
                                        input.btn.removeFilter(data-idx=1, value="X", type="submit")


                    div.row
                            input.btn.addAttributeFilter(id="getRecommendations", type="submit", value="Get Recommendations", rec_type="all") 

                
            div.col-md-8
                div.row.well
                    h3 Select a Time Window
                    div.row
                    form.form(method="post", id="manualPlot", action="/manualPlot")
                        table.table
                            tr
                                h5 Start time

                                |<div class="input-group bootstrap-timepicker timepicker">
                                |    <input name="start_time" value = "12:00 AM" id="start_time" type="text" class="form-control input-small">
                                |    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                |</div>

                                h5 End time
                                |<div class="input-group bootstrap-timepicker timepicker">
                                |    <input name="end_time" value = "11:00 PM" id="end_time" type="text" class="form-control input-small">
                                |    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                |</div>

            |<br></br>
            h3.title SeeDB Recommendations
            div.col-md-12

                    div.col-md-12#big_viz

        div.row
        div.row
            div.row#recs(data-num=0)
                div.col-md-3.padded.template_rec
                    div.rec_viz
                    | <br></br>
                    input.btn.zoom.zoom2(value="Zoom", type="submit") 
                   

        div.row#recs_div
            div.row.slider1



        hr
        div.row.outline
            div.row#bookmarks(data-num=0)
                div.btn.col-md-3.padded.template_bookmark
                    div.rec_viz
                    input.btn.zoom(value="Zoom", type="submit") 
                    span &nbsp; &nbsp;
                    input.btn.delete(value="Delete", type="submit")
