doctype html
html
  head
    title= title
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.bxslider.css')
    link(rel='stylesheet', href='/tagsinput/bootstrap-tagsinput.css')
    link(rel='stylesheet', href='/timepicker/bootstrap-timepicker.css')


    script(src='https://www.google.com/jsapi')

    script(src="/javascript/jquery.min.js")
    script(src="/javascript/schemas.js")
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src="/javascript/jquery.bxslider.js")
    script(src="/javascript/debugout.js")
    script(src="/tagsinput/bootstrap-tagsinput.js")
    script(src="/timepicker/bootstrap-timepicker.js")
    script(src="/timepicker/bootstrap-timepicker.min.js")

    script(src="/typeahead/typeahead.js")
    script(src="/underscore/underscore.js")

    script(src='/javascript/main.js')
    script(src='/assets/citynames.json')
    script(src='/javascript/main.js')


  body
    block content